// Specific - P1B Connections

.main-plan {
  h1 {font-size: 50px;}
  h2 {font-size: 18px;}
  padding: 40px 50px;
  .module-header {
    padding-bottom: 20px;
    h2 {padding: 15px 0;}
  }
  .device-header {
    img {padding-bottom: 10px;}
    p {padding: 5px 0;}
  }
}

// ** Devices
ul.devices li {
  display: inline-block;
  width: 24.5%;
  @extend .centered;
  .device-img {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    .quantity {
      position: absolute;
      top: 0;
      right: 0;
      background-color: white;
      color: $red;
      font-size: 17px;
      border: 3px $red solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }
}

// ** Data Plan Slider
.dataplans {
  padding: 50px 0;
  h2 {padding-bottom: 15px;}
  text-align: justify;
  .dataplan-slider-container {
    width: 80%;
    display: inline-block;
    position: relative;
    text-align: justify;
    #dataplan-slider {
      .ui-slider-handle {
        border: none;
        background: none; //override jquery ui's background
        background: {
          image: url('images/slider-handle.png');
          size: contain;
        };
      }
    }
    .slider-ticks {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: justify;
    }
  }
}


// ** Store Locator
.store-locator {
text-align: center;
background-image: url("images/bg-map.jpg");
background-size: cover;
padding: 3rem 0;
  .white-overlay {
  background: white;/* IE8 fallback, do not remove */
  background-color: rgba(255,255,255,0.8);
  padding: 2rem 1rem;
  }
  #store-list {
  text-align: left;
    ul {
    list-style-type: none;
    font-size: 14px;
      .store-name { color: $darkblue; }
      .store-address { color: $mediumgray; }
      .get-directions { color: $darkblue; }
    }
  }
}
.elig-form {
font-size: 16px;
  input[type="text"] {
    height: 33px;
    font-size: 14px;
    width: 100%;
  }
  label {
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 7px;
  }
  label[type="text"] {
    display: block;
  }
  .checkbox-wrapper {
    padding-top: 10px;
    input[type="checkbox"] {
      font-size: 16px;
    }
  }
  .checkbox-wrapper:first-child {
    padding-top: 80px;
  }
  .zipcode-label {
    position: relative;
    top: -6px; 
    font-size: 16px;
  }
  .invalid-highlight {
  outline-color: red;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 2px;
  }
  .valid {
  outline-color: none;
  outline-offset: none;
  outline-style: none;
  outline-width: none;
  }
  .button {
    font-family: "Stag Sans Light";
    border: none;
    font-size: 16px;
    padding: 7px 25px;
    cursor: pointer;
    margin-top: 20px;
  }
}