// Specific - P1B Connections
.dirtyskybluebg{background: {
    image: url('images/bg.jpg');
    size: cover;
  };
}
body {color: #666;}
h2 {line-height: 120%;}
button:focus {
  outline: none;
}
p {line-height: 17px;}

$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 765px;
$desktop: 850px;

@media (max-width: $mobile-landscape) {
  .invisible-on-mobile {
    display: none;
  }
}

.vertical-rule {
  border-right: 2px solid $lightgray;
  width: 1px;
  height: 32px;
  display: inline-block;
  vertical-align: sub;
}

.main-plan {
  margin-top: -10px;
  h1 {font-size: 50px;}
  h2 {font-size: 18px;}
  padding: 20px;
  @media (min-width: $desktop) {
    padding: 40px 50px 18px;
  }
  .module-header {
    padding-bottom: 20px;
    h2 {padding: 15px 0;}
  }
  .device-header {
    img {padding-bottom: 10px;}
    p {padding: 5px 0;}
  }
}

// ** Devices
ul.devices {
  li {
    display: inline-block;
    width: 48.5%;
    @media (min-width: $desktop) {
      width: 24.5%;
    }
    @extend .centered;
    .device-img {
      display: inline-block;
      position: relative;
      padding: 10px 10px;
    }
    .quantity {
      position: absolute;
      top: 0;
      right: 0;
      background-color: white;
      color: $red;
      font-size: 15px;
      border: 3px $red solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;//must equal height for vert aligning the number
    }
  }
  [data-device=basic-phone] .quantity {
    top: 58px;
  }
  [data-device=hotspot] .quantity {
    top: 58px;
  }
  [data-device=smart-phone] .quantity {
    top: 19px;
  }
}

.spinner-minus, .spinner-plus {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 40px;
  @extend .stagsanslight;
  padding: 10px 12px;
  @media (min-width: $desktop) {
    padding: 10px 30px;
  }
  @extend .mediumbluetext;
  &:disabled {
    @extend .lightgraytext;
  }
}

// ** Data Plan Slider
.dataplans {
  padding: 50px 0;
  text-align: justify;
  h2 {padding-bottom: 15px;}
  .label-slider {
    font-size: 8px;
    @media (min-width: $mobile-landscape) {
      font-size: 15px;
    }
    @media (min-width: $desktop) {
      font-size: 18px;
    }
  }
  .dataplan-slider-container {
    background-color: rgba(0,0,0,.05);
    border: 1px solid #ddd;
    border-radius: 30px;
    width: 80%;
    display: inline-block;
    position: relative;
    text-align: justify;
    height: 46px;
    vertical-align: middle;
    #dataplan-slider, .slider-ticks {
      left: 50%;
      margin-left: -47%;//half of width
    }
    #dataplan-slider {
      cursor: pointer;
      height: 100%;
      width: 93%;
      border: none;//reset
      background: none;//reset
      .ui-slider-handle {
        cursor: pointer;
        top: 9px;
        border: none;
        background: none; //override jquery ui's background
        height: 30px;
        width: 30px;
        background: {
          image: url('images/slider-handle.png');
          size: contain;
        };
        &:focus {
          outline: none;
        }
      }
    }
    .slider-ticks {
      pointer-events: none;
      cursor: pointer;
      top: 9px;
      width: 94%;//needs to be slightly wider than slider to account for slight drift in tick/handle alignment
      position: absolute;
      font-size: 25px;
      text-align: justify;
      span {
        vertical-align: middle;
        color: #aaa;
      }
    }
  }
}
.totals {
  height: 144px;
  padding-bottom: 30px;
  > div {
    display: inline-block;
    width: 49%;
    position: relative;
    float: left;
  }
  // Device totals
  .device-data-quantity {
    h1 {
      font-size: 22px;
      @media (min-width: $mobile-landscape) {
        font-size: 36px;
      }
    }
  }
  // Total $
  .cost-per-month, .device-data-quantity {
    &:before {//for vert centering
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
    > div {
      vertical-align: middle;
      display: inline-block;
    }
  }
  .cost-per-month {
    h2 {
      @media (max-width: $mobile-landscape) {
        font-size: 12px;
        padding-bottom: 8px;
      }
      @media (min-width: $tablet-portrait) {
        font-size: 18px;
      }
    }
  }
  .total-devices, .total-gbs > * {
    font-size: 150%;
  }
  .total-gbs {
    display: inline-block;
  }
  .gb-label {
    display: inline-block;
  }
  .total-cost-container {
    font-size: 54px;
    letter-spacing: -5px;
    @media (min-width: $mobile-landscape) {
      font-size: 82px;
    }
  }
  .vertical-rule {
    float: left;
    height: 110px;
    margin-top: 20px;
  }
}

// ** Store Locator
.store-locator {
text-align: center;
background-image: url("images/bg-map.jpg");
background-size: cover;
padding: 3rem 0;
  @media (max-width: $mobile-portrait) {
    h2 {margin-bottom: 20px;}
  }
  .white-overlay {
  background: white;/* IE8 fallback, do not remove */
  background-color: rgba(255,255,255,0.8);
  padding: 2rem 1rem;
  }
  #store-list {
  text-align: left;
   ul {
    list-style-type: none;
    li {
      padding-bottom: 20px;
      p {
        font-size: 18px;
        @media (min-width: $tablet-portrait) {
          font-size: 14px;
        }
      }
    }
    @media (max-width: $mobile-landscape) {
      margin-top: 2rem;
    }
    .store-name { 
      color: $mediumblue; 
      padding-bottom: 13px;
    }
    .store-address { 
      color: $mediumgray; 
      line-height: 17px;
    }
    .get-directions { 
      color: $mediumblue; 
      padding: 13px 0;
    }
    @media (min-width: $tablet-portrait) {
      li {
      margin-top: 2rem;
      padding-top: 2rem;
      width: 16%;
      float: left;
      padding: 1rem 1rem 0 1rem;
      border-left: 1px solid $darkgray;
      }
      li:first-child {
      border-left: none;
      }
    }
    }
  }
}
.elig-form {
font-size: 16px;
  input[type="text"] {
    height: 33px;
    font-size: 14px;
    width: 150px;
    padding-left: 10px;
  }
  label {
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 7px;
  }
  label[type="text"] {
    display: block;
  }
  .checkbox-wrapper {
    padding-top: 10px;
    input[type="checkbox"] {
      font-size: 16px;
    }
  }
  .checkbox-wrapper:first-child {
    padding-top: 80px;
  }
  .zipcode-label {
    position: relative;
    top: -6px; 
    font-size: 16px;
  }
  .invalid-highlight {
  outline-color: red;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 2px;
  }
  .valid {
  outline-color: none;
  outline-offset: none;
  outline-style: none;
  outline-width: none;
  }
  .button {
    font-family: "Stag Sans Light";
    border: none;
    font-size: 16px;
    padding: 7px 25px;
    cursor: pointer;
    margin-top: 20px;
  }
  #form-errors {
    display: none;
    color: $red;
    font-size: 17px;
    line-height: 17px;
    img {
      vertical-align: middle;
      margin-right: 13px;
    }
  }
}