// Specific - Black Fri MOBILE
@font-face {
  font-family: "Stag Sans Light";
  src: url("/bighero6/StagSansWebUSCC-Light.eot");
  src: url("/bighero6/StagSansWebUSCC-Light.eot?#iefix") format("embedded-opentype"),
  url("/bighero6/StagSansWebUSCC-Light.svg#font") format("svg"),
  url("/bighero6/StagSansWebUSCC-Light.otf") format("opentype"),
  url("/bighero6/StagSansWebUSCC-Light.ttf") format("truetype"),
  url("/bighero6/StagSansWebUSCC-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#page-wrapper {
  margin: 0 !important;
  width: 100%;
}

.stagsanslight {font-family: "Stag Sans Light";}

.try-again {
  text-decoration: underline;
  cursor: pointer;
}

small {
  font-size: 65%;
}

.m-blackfri-hero {
  padding: 0 40px 66px;
  background-image: url('/black-friday-2014/images/m-gradient-bg.jpg');
  background-size: 100% 100%;
  margin: 0px;
  position: relative;
  .module-content{
  padding-top: 25px;
    .phone {
      text-align: center;
      position: relative;
      img {
        width: 80%;
      }
    }
    h2 {
      font-size: 21px;
      line-height: 28px;
      padding-bottom: 5%;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }
    p{
      padding-top: 13px;
      padding-bottom: 16px;
      font-size: 15px;
      line-height: 19px;
    }
    p.watchtrailer {
      padding-top: 0px;
      padding-bottom: 0px;
      position:relative;
      top:-4px;
    }
    .store-locator {
      display: none;
      @extend .whitetext;
      * {@extend .stagsanslight;}
      h2 {
        font-size: 24px;
        line-height: 31px;
        padding-bottom: 0;
      }
      #store-list {
      text-align: left;
        ul {
        list-style-type: decimal;
        margin-left: 35px;
          p { padding: 0; }
          li {
            padding-bottom: 20px;
            font-size: 19px;
          }
          .store-name { 
            font-weight: normal;
            font-size: 19px;
          }
          .store-address { 
          }
          .get-directions a { 
            text-decoration: underline; 
            font-weight: normal;
            color: white;
          }
        }
      }
    }
  }
  .bg6-sharing-buttons {
    position: relative;
    top: 11px;
    img {
      width: 28px;
      height: 28px;
    }
  }
  #form-errors {
    display: none;
    font-size:16px;
    color: $red;
    background-color: white;
    padding: 16px;
    * {
      @extend .stagsanslight;
    }
    p{ padding: 0; }
    p:first-child {
      font-size: 16px;
      line-height: 23px;
    }
    .button {
      font-size: 12px;
    }
    .try-again {
      @extend .darkgraytext;
      font-size: 12px;
    }
  }
  #blackfri-countdown {
    position: absolute;
    margin: 0;
    top: 72%;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 28px;
    padding: 0 14%;
    @extend .bluetext;
  }
}

fieldset {border: none;margin:0;padding:0;}
a {text-decoration: none;}

.elig-form {
font-size: 16px;
@extend .whitetext;
  p { @extend .stagsanslight; }
  input[type="text"] {
    height: 33px;
    font-size: 14px;
    width: 100%;
  }
  label {
    font-size: 11px;
    padding-top: 14px;
    padding-bottom: 7px;
  }
  label[type="text"] {
    display: block;
  }
  .checkbox-wrapper {
    padding-top: 10px;
    input[type="checkbox"] {
      font-size: 16px;
    }
  }
  .checkbox-wrapper:first-child {
    padding-top: 80px;
  }
  .zipcode-label {
    position: relative;
    top: -6px; 
    font-size: 16px;
  }
  .invalid-highlight {
  outline-color: red;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 2px;
  }
  .valid {
  outline-color: none;
  outline-offset: none;
  outline-style: none;
  outline-width: none;
  }
  .button {
    font-family: "Stag Sans Light";
    border: none;
    font-size: 16px;
    padding: 7px 25px;
    cursor: pointer;
    margin-top: 20px;
  }
}

.find-accessories {
  margin: 0;
  border: 8px white solid;
  padding: 0;
  position: relative;
  img {
    width: 100%;
  }
  .button {
    position: absolute;
    top: 78%;
    left: 6%;
    font-size: 16px;
    font-family: "Stag Sans Light";
  }
}
.payoff-140 {
  margin: 0;
  border-bottom: 8px white solid;
  padding-bottom: 115%;
  position: relative;
  background-image: url('/black-friday-2014/images/m-130-bg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  .mod140-content {
  margin: 0 auto;
  width: 140px;
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
  text-align: center;
    .button {
      font-size:16px;
      font-family: "Stag Sans Light";
      display: block;
    }
    .see-details {
      text-decoration: none;
      display: block;
    }
  }

}